<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group"><!-- wp:template-part {"slug":"header-copy"} /--></div>
	<!-- /wp:group -->

<!-- wp:pattern {"slug":"twenty-twenty-four/home"} /-->

<!-- wp:template-part {"slug":"footer-copy"} /--></div>
<!-- /wp:group -->