<!-- wp:group {"style":{"position":{"type":""},"border":{"bottom":{"width":"0px","style":"none"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-bottom-style:none;border-bottom-width:0px"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->



<!-- wp:pattern {"slug":"twentytwentyfour/hidden-intro-text-left"} /-->
<!-- wp:pattern {"slug":"twentytwentyfour/offset-grid-image-posts"} /-->



<!-- wp:group {"style":{"border":{"top":{"width":"0px","style":"none"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:none;border-top-width:0px">

	<!-- wp:pattern {"slug":"twentytwentyfour/footer-portfolio"} /-->

</div>
<!-- /wp:group -->
